@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body
{
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: rgba(27, 84, 168, 0.5) !important;

}

.navbar-nav > li
{
    padding-left:40px;
    padding-right:40px;
}

nav .navbar-nav li a, nav .navbar-text{
    color: white !important;
}

.active > .nav-link{

    color:  rgb(206, 237, 255) !important;

}

nav
{
    transition: 700ms ease;
    font-size: 25px;  
    background: transparent !important;

}

nav.scrolled {

    background: rgba(27, 84, 168, 0.5) !important;
    
}

