.cards
{
  background: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: 30vh 0 0 0;
}

.cards-wrapper
{
  display: grid;
  grid-template-columns: auto auto;
  width: 94vw;
  justify-items: center;
  gap: 4vw 4vw;
}

.cards-items
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  width: 100vw;
  height: 90vh;
  margin-bottom: 4vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.projects-header-container
{
  width: 94vw;
  margin-bottom: 10vh;
}

.projects-header
{
  font-size: 70px;
}


@media only screen and (min-width: 1200px)
{
  .content-blog-container
  {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px)
{
  
}

@media only screen and (max-width: 1024px)
{

}

@media only screen and (max-width: 725px)
{
  .cards-items
  {
    flex-direction: column;
  }
}
