.contact-content-container
{
  height: 500px;
  background-color: white;
  padding: 2rem;
  text-align: center;
}

.contact-content-container > h1
{
  text-align: center;
}

.contact-content-container > p
{
  text-align: center;
  line-height: 25px;
  max-width: 1000px;
  margin: auto;
}
