.contact-content-container
{
  background-color: white;
  padding: 8rem 2rem 8rem;
  text-align: center;
}

.contact-content-container > h1
{
  text-align: center;
}

.contact-content-container > p
{
  text-align: center;
  font-size:20px;
  line-height: 25px;
  max-width: 1000px;
  margin: auto;
}

.contact-icons-wrapper
{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.contact-icons-wrapper > a
{
  padding: 30px 30px 0px;
  color: black;
  font-size: 24px;
}