.contactmediv
{
  height: 500px;
  background-color: white;
  padding: 2rem;
  text-align: center;
}

.contactmeh1
{
  text-align: center;
}

.contactmep
{
  text-align: center;
  line-height: 25px;
  max-width: 1000px;
  margin: auto;
}
