.coop-content-container
{
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-section,.intro-section
{
  margin: auto;
  width: 75%;
}

.job-info
{
  display: flex;
  justify-content: flex-start;
}

.job-info-text-wrapper
{
  margin: auto 0px auto;
}

.section-header
{
  text-align: center;
}

.job-title, .company-title
{
  text-align: left;
}

.job-section > p
{
  line-height: 25px;
  margin: auto;
}

.intro-section > p
{
  line-height: 25px;
  text-align: center;
  margin: auto;
  padding: 20px 0px 20px;

}

.company-logo-img
{
  width: 150px;
  height: 150px;
}

.job-description > p
{
  padding: 20px 0px 20px;
}

.point-form
{
  padding: 0px 20px 20px;
  line-height: 25px;
}

@media only screen and (max-width: 564px)
{
  .job-section,.intro-section
  {
    width: 95%;
  }

  .company-logo-img
  {
    width: 100px;
    height: 100px;
  }

  .job-title
  {
    font-size: 25px;
  }
  .company-title
  {
    font-size: 15px;
  }
  .job-description > p
  {
    font-size: 15px;
  }
  .job-description > h2
  {
    font-size: 20px;
  }
  .job-info-text-wrapper > p 
  {
    font-size: 12px;
  }

}
